.BoxSection {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;



}

.BoxSection .textRight {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    overflow-x: hidden;
    height: 724px;
}
.BoxSection .textRight .imageLeft {
    grid-column: 1;
    height: 720px;
    width: 720px;


}
.BoxSection .textRight .vision {
    grid-column: 2;
    background-color: #1E992F;
    text-align: center;
    height: 720px;
    width: 720px;
    z-index: -2;

}
.BoxSection .textRight .vision .visionTitle .visionText {
    color: #ffffff;
    font-family: "League Spartan", Helvetica;
    font-size: 96px;
    font-weight: 900;
    padding-top: 100px;
}
.BoxSection .textRight .vision .visionSubheading {
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 48px;
    font-weight: 800;
    padding: 60px;

}
.BoxSection .textRight .vision .visionTitle .visionImage {
    position: absolute;
    left: 413px;
    top: 62px;
    width: 100%;
    z-index: -1;
    
}
.BoxSection .textLeft {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mission imageRight";
    position: relative;
    bottom: 5px;
    overflow-x: hidden;
}
.BoxSection .textLeft .imageRight {
    grid-area: imageRight;
    width: 100%;
    overflow-x: hidden;
    


}
.BoxSection .textLeft .mission {
    grid-area: mission;
    background-color: #E79735;
    text-align: center;
    height: 720px;
    width: 720px;
    overflow-x: hidden;
    z-index: -2;
    
}
.BoxSection .textLeft .mission .missionTitle .missionText {
    color: #ffffff;
    font-family: "League Spartan", Helvetica;
    font-size: 96px;
    font-weight: 900;
    padding-top: 100px;
}

.BoxSection .textLeft .mission .missionSubheading {
    color: #ffffff;
    font-family: "Nunito", Helvetica;
    font-size: 48px;
    font-weight: 800;
    padding: 60px;
}
.BoxSection .textLeft .mission .missionTitle .missionImage {
    position: absolute;
    left: 392px;
    top: 77px;
    z-index: -1;
}