
.heroHome {
    width: 100%;
    max-width: 1440px;
    height: 914px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 58% 42%; /* Adjusted the columns to add up to 100% */
}

.heroHome .mainSection {
    grid-column: 1;
    justify-self: center;
    position: relative;
    width: 100%;
    padding-top: 200px;
}
.heroHome .mainSection .heading {
    height: 258px;
    width: 593px;
    padding-left: 5%;
    position: relative;
}

.heroHome .mainSection .heading .headingText {
    color: #1e992f;
    font-family: "League Spartan", Helvetica;
    font-size: 91px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position : relative;
}
.heroHome .mainSection .heading .heroImage {
    position: absolute;
    height: auto;
    left: 400px;
    top: -68px

}
.heroHome .mainSection .subHeading {

    color: #000000;
    font-family: "Nunito", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 35px;
    width: 593px;
    padding-top: 20px;
    padding-left: 5%;
}
.heroHome .mainSection .button {

    padding-top: 20px;
    padding-left: 5%;
}

.heroHome .mainSection .mainSectionImage {

    position: absolute;
    right: 0; /* Adjust as needed */
    top: 588px;

}


.heroHome .sideBar {
    width: 100%;
    grid-column: 2;
    background-color: #1E992F;
}

.heroHome .media {

    display: grid;
    grid-template-columns: 236px 290.5px;
    grid-template-rows: 189px 189px 209.5px;
    gap: 10px;
    padding-top: 210px;
    padding-left: 30px;
    
}
.heroHome .media .image1 {
    grid-column: 1;
    grid-row: 1 / 3;
    height: 100.2%;
}

.heroHome .media .image2 {
    grid-column: 2;
    grid-row: 1;
}

.heroHome .media .image3 {
    grid-column: 2;
    grid-row: 2;
}

.heroHome .media .image4 {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
}