
.navbar {
    width: 100%;
    max-width: 1440px;
    height: 30px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
    z-index: 5;
 

}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 22px;
    
}
.navbar .links .logoFrame {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.navbar .links .logoFrame .bold {
    font-weight: 800;
}
.navbar .links .logoFrame .light {
    font-weight: 500;
}

.navbar .links .line {

    border-left : 1px solid black;
    height : 23px;
    width: 1px;

}

.navbar .links .link {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    font-weight: 800 !important;
}
