
.card {
    margin: 2%;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e33b, #ffff46);
    box-shadow:  20px 20px 40px #d4d136,
                 -20px -20px 40px #ffff4c;
}