
.card {
    position: relative;
    margin: 3%;
    width: 240px;
    height: 240px;
    overflow: visible;

}

.card .image {
    position: absolute;
    top: -14%;
    left: -25%;

}

.card .name {
    Padding: 30px 15px;
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    color: white;
    text-align: end;
    font-weight: 900;
}
.card .season {
    font-family: 'League Spartan', sans-serif;
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    padding: 15px;
}
.card .dates {
    font-family: 'League Spartan', sans-serif;
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}